.container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.actionContainer {
    display: flex;
    gap: 0px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

.selectContainer {
    position: relative;
    width: 200px;
}

.selectContainer::after {
    content: '';
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666;
    pointer-events: none;
}

.select {
    width: 100%;
    padding: 1rem 1.5rem;
    padding-right: 2.5rem;
    border-radius: 0.375rem;
    border: 1px solid #E5E7EB;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.selectLabel {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
    background-color: #f7bc27;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.select:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-color: #D1D5DB;
}

.button {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: none;
    background-color: #f7bc27;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #f7bc27c5;
}

.button:disabled {
    background-color: #9CA3AF;
    cursor: not-allowed;
    opacity: 0.7;
}

.smallButton {
    padding: 0.3rem 0.8rem;
    border-radius: 0.375rem;
    border: none;
    background-color: #f7bc27;
    color: white;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.smallButton:hover {
    background-color: #f7bc27c5;
}

.smallButton:disabled {
    background-color: #9CA3AF;
    cursor: not-allowed;
    opacity: 0.7;
}

.input {
    padding: 12px 16px;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    font-size: 16px;
    width: calc(100% - 32px);
    margin: 0 16px;
    transition: all 0.3s ease;
    background-color: #ffffff;
    color: #1a202c;
    outline: none;
}

.input::placeholder {
    color: #a0aec0;
}

.input:hover {
    border-color: #D1D5DB;
}